*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
    max-width: 1000px;
    margin:0 auto;
}

/* UTILS */
.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-white{
    color: white;
}

.relative{
    position: relative;
}

.purple-bg{
    background-color:#ADC3FF ;
} 

/* da cambiare */

.black-bg{
    background-color: black;
}



/* HEADER */

#top-bar{
    height: 70px;
    background-color: #3161E0;
    line-height: 70px;
    color: white;
}

#logo{
    vertical-align: middle;
}
.col{
    float: left;
}

#main-nav li{
    display: inline-block;
    margin:0 15px; 
}

#main-nav li a, .footer-top .col .content a{
    text-decoration: none;
    color: white;
}

#main-nav li a:hover, .footer-top .col .content li a:hover{
    text-decoration: underline;
}

.btn{
    text-decoration: none;
    border-radius:20px;
    color: black;
}

.btn-small{
    font-size: 15px;
    padding: 10px 15px;
}

.btn-big{
    font-size: 1.1em;
    padding:10px 20px; 
}

.btn-light{
    background-color: white;
    color: black;
}
.btn-dark{
    /* background-color:black; */
    color: white; 
}

#jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}
.content-jumbo .jumbo-title{
    font-size: 2.5rem;
}
.content-jumbo{
    width:500px; 
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
}

.content-jumbo p{
    line-height: 25px;
}

.content-jumbo h1, .content-jumbo p {
    margin: 30px 0;
}
.content-jumbo :last-child {
    margin-left:20px; 
}



/* MAIN */


section img, .bottom-logo img{
    width: 100%;
}
#section1,#section2,#section3, #section4{
    margin: 150px 0; 
}

.content-section1, .content-section2 .content-section3.content-section4{
    margin-top: 30px; 
    width: 300px;
         
}

.content-section1 p, .content-section2 p, .content-section3 p, .content-section4 p {
    padding-top:20px; 
    line-height: 25px
}

.content-section1 h2, .content-section2 h2 ,.content-section3 h2, .content-section4 h2{
    font-size:2.5rem; 
}

.content-image{
    padding-right: 100px; 
}

.content-image3 {
    margin-right:100px; 
}


.bottom-download{
    height:50px; 
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 50px;
}



/* FOOTER */

footer {
    height: 500px; 
    background-color: #23272A ;
    margin-top:100px; 
    color: blanchedalmond;

}

.footer-top{
    margin-top: 50px;
}

.footer-top .col:first-child {
    width: 40%;
}

.footer-top .col{
    width:calc(60%/4);
}
.col{
    /* border: 1px solid red; */
}

.footer-top .col .content ul{
    list-style-type: none;
}

.footer-top .col .content li {
    margin: 10px 0; 
}

.upper {
    padding-top: 40px;
}
.lower{
    height: 100px;
    line-height:100px;
}


#bottom-logo {
    vertical-align: middle;
}









  
    






